@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html,
  body {
    height: 100%;
  }
  :root {
    --color-primary: #2970ff;
    --color-secondary: #3a80ff;
    --color-accent: #571ce0;
    --color-background: #f7f2fd;
  }
  .theme-default {
    --color-primary: #2970ff;
    --color-secondary: #3a80ff;
    --color-accent: #571ce0;
    --color-background: #f7f2fd;
  }
}

.theme-default {
  --color-primary: #2970ff;
  --color-secondary: #3a80ff;
  --color-accent: #571ce0;
  --color-background: #f7f2fd;
}
@media (max-width: 520px) {
  .avatarEditor {
    width: 100% !important;
    height: 100% !important;
  }
}

.card-li a {
  @apply cursor-pointer underline hover:text-blue-600 dark:hover:text-blue-400;
}
